html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.nav {
    height: 100%;
    width: 10%;
    background: blue;
    color: white;
}

.nav .logo {
    height: 25%;
    width: 100%;
    background: green;
    float: left;
}

.nav .logo .image {
   width: 100%;
   height: 70%; 
   margin: 0;
   padding: 0; 
}

.nav .logo .username {
    height: calc(100%-70%);
    text-align: center;
}

.nav .menu {
    width: 100%;
    height: 100px;
    float: left;
}

.nav .menu ul {
    list-style-type: none;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

.nav .menu ul li {
    display: block;
    height: 100px;
    width: 100%;
    padding: 0px 15px;
    line-height: 80px;
    position: relative;
}

.nav .menu ul li:hover {
    background: skyblue;
    cursor: pointer;
}

.nav .menu ul li ul {
    display: none;
    position: absolute;
    background: skyblue;
    right: -100%;
    top: 0%;
}

.nav .menu ul li:hover ul {
    display: block;
}

.nav .menu ul li ul li {
    background: skyblue;
    width: 100%;
    position: relative;
}

.nav .menu ul li ul li:hover {
    background: rgb(21, 100, 170);
    width: 100%;
}

.nav .version {
    text-align: left;
    height: -50%;
}

.container {
    width: calc(100%-10%);
    height: 100%;
    background: red;
}


