html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.nav {
    height: 80px;
    width: 100%;
    background: blue;
    color: white;
}

.nav .logo {
    height: 100%;
    width: 50%;
    float: left;
}

.nav .menu {
    width: 50%;
    height: 100%;
    float: left;
}

.nav .menu ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
}

.nav .menu ul li {
    display: inline-block;
    height: 100%;
    padding: 0px 15px;
    line-height: 80px;
    position: relative;
}

.nav .menu ul li:hover {
    background: skyblue;
    cursor: pointer;
}

.nav .menu ul li ul {
    display: none;
    position: absolute;
    background: skyblue;
    left: 0;
}

.nav .menu ul li:hover ul {
    display: block;
}

.nav .menu ul li ul li {
    background: skyblue;
    width: 100%;
    position: relative;
}

.nav .menu ul li ul li:hover {
    background: rgb(21, 100, 170);
    width: 100%;
}
/*
.nav .menu ul li:hover ul li ul {
    display: none;
    position: absolute;
    left: -100%;
    top: 0;
}

.nav .menu ul li ul li:hover ul {
    display: block;
    width: 100%;
}*/

.container {
    height: calc(100% - 80px);
    background: red;
}

.container .left {
    width: 30%;
    float: left;
    background: yellow;
    height: 100%;
}

.container .center {
    width: 40%;
    float: left;
    background: blue;
    height: 100%;
    overflow-y: auto;
}

.container .right {
    width: 30%;
    float: left;
    background: red;
    height: 100%;
}

.container .center .post {
    width: 100%;
    height: 150px;
    border: 1px dotted white;
}