html, body {
 height: 100%;
 width: 100%;
 margin: 0px;
 padding: 0px;
}

* {
    box-sizing: border-box;
}

body > .topnav {
    overflow: hidden;
    background-color: black;
}

body > .topnav > a{
    float: right;
    color:  white;
    text-align: center;
    padding: 12px 14px;
    font-size: 17px;
}

body > .topnav > .image {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

body > .windowLeft {
    width:30%;
    position:relative;
    float:left;
    height:100%;
    background: palegreen;
}

body > .windowCenter {
    width:50%;
    position:relative;
    float:left;
    height:100%;
}

body > .windowRight{
    width:20%;
    position:relative;
    float:left;
    height:100%;
    background: skyblue;
}

.windowCenter > .center1 {
    width: 100%;
    height: 100px;
    background: blue;
}

.windowCenter > .center2 {
    width: 100%;
    height: 357px;
    background: purple;
}

.windowCenter > .center3 {
    width: 100%;
    height: 200px;
    background: red;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }

  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }

  .topnav:hover .subnav-content {
    display: block;
  }