html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0
}

a:active {
    background: red;
}

input[type*="checkbox"]:checked + label{ /*a su hermano*/
    background: red;
}

input[type*="text"]:disabled { /*cuando esta deshabilitado entonces aplicara la propiedad*/
    background: blue;
}

input[type*="text"]:enabled { /*cuando esta habilitado entonces aplicara la propiedad*/
    background: green;
}

p:empty { /*cualquier elemento q no tenga hijos*/
    background: red;
}

div{
    position: relative;
}

div::after{ /*tiene el div un pseudo elemento q debe contener, content con el ultimo child*/
    content: "tooltip";
    /*position: absolute;
    padding: 5px;
    top: -20px;
    right: 0;
    background: skyblue;*/
}

div::before{ /*va a ser siempre con el ,primer child content*/
    content: "tooltip2";
    /*position: absolute;
    padding: 5px;
    top: -20px;
    right: 0;
    background: skyblue;*/
}

div:hover{ /*el mouse sobre el elemento y lo pinta o hace los estilos*/
    background: blue;
}