/*Main Section*/

/** {
    color :red;
}*/
.square {
    height : 200px;
    width:  200px;
    background: red;
}

.square .small-square  { /*dentro de un square*/
    height : 100px;
    width:  100px;
    background: blue;
}

/*.square, .small-square  { distintos elementos tienen el mismo estilo
    height : 100px;
    width:  100px;
    background: blue;
}*/

/*#test {
    background: red;
}*/