html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; /*todo lo q crezca lo ocultamos o los valores q hacen overflow pero no es recomendable*/
}

* {
    box-sizing: border-box /**/
}
/*los div siempre tratan de ocupar todo el width*/
.nav {
    height: 80px;
    width: 100%; /*q ocupe */
    background: blue;
    color: white;
}

.nav .logo { /*clase logo dentro de nav*/
    height: 100%;
    width: 50%;
    float: left;
}

.nav .menu {
    width: 50%;
    height: 100%;
    float: right; /*te acomodas hacia la izq*/
}

.nav .menu ul {
    list-style-type: none; /*q no muestre los puntos de la lista*/
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}

.nav .menu ul li {
    display: inline-block;
    height: 100%;
    padding: 8px 10px; /*left y right*/
    line-height: 50px ;/*espacio entre texto, salto de linea*/
    position: relative;
}

.nav .menu ul li:hover {
    background: skyblue;
    cursor: pointer;
}

.nav .menu ul li ul {
    display: none;
    position: absolute;
    background: skyblue;
    left: 0;
}

.nav .menu ul li:hover ul {
    display: block;
    width: 100%;
}

.nav .menu ul li ul li{
    background: skyblue;
    width: 100%;
    position: relative;
}

.nav .menu ul li ul li:hover{
    background: blueviolet;
    width: 100%;

}

.nav .menu ul li:hover ul li ul{
    display: none;
    position: absolute;
    left: -100%;
    top: 0;
}

.nav .menu ul li ul li:hover ul{
    display: block;
    width: 100%;
}


.container {
    height: calc(100% - 80px); /*restamos lo menos lo q esta arriba*/
    background: red;
}

.container .left {
    width: 30%;
    float: left;
    background: yellow;
    height: 100%;
}

.container .center {
    width: 40%;
    float: left;
    background: green;
    height: 100%;
    overflow-y: auto; /*scroll automatico por si hay mas elementos*/
    overflow-x: hidden;
}

.container .center .post {
    width: 100%;
    height: 150px;
    border: 1px dotted white;
}

.container .right {
    width: 30%;
    float: left;
    background: red;
    height: 100%;
}
