div > p { /*aplica  alos hijos*/
    color : yellow; 
}

div + p { /*abajo del div un p a ese se aplica osea al siguiente*/
    color :red;
}

p~ul { /* cada elemento ul q este precedido por p*/
    background: blue;
}

a[target]{ /*con el atributo target cambia de color*/
    color: green;
}

a[target="_blank"]{
    color: red;
}

a[title~="photo"]{ /*q contiene el nombre photo*/
    color : yellow;
}

/*todos los elem q tengan el lang q empiece con en*/
p[lang|="en"]{
    color : red;
}
/**/
a[href^="https"]{
    color :blue;
}

a[href$=".pfd"] /*q termine con este sustrs*/{

}

/*q contenga el substr*/
a[href*="pdf"]{
    color:yellow;
}